.quote-logo{
  display: none;
}
.site-footer{
  a{
    margin-right: 20px;
  }
}

@media (min-width: 1080px) {
  .quote-logo{
    display: block;
      font-weight: 900;
      color: #0c0;
      font-size: 125px
    }  
  }  
