.button_dark {
  background: black;
  color: #0c0; 
  border: 2px solid #0c0;
  font-weight: 700;
  line-height: 1;
  padding: .75rem 2.25rem;
  text-shadow: none;
}

.site-content{
  font-size: 1.25rem;
}


    